
<h1 class="text-center font-weight-bold">Pythagorean Theorem</h1>
<br />
<!--want it to display a lesson with tasks for the day-->
<h2 class="text-center">BellRinger</h2>
<br />
<p>
  Students will be shown right triangles and have to identify the sides as legs
  and hypotenuse. Video below illustrates a proof of the theorem
</p>
<form class="text-center">
  <button type="submit" class="btn btn-dark">
    <a href="https://www.youtube.com/watch?v=CAkMUdeB06o" target="_blank"
      >Video Link</a
    >
  </button>
</form>
<br />
<h2 class="text-center">Activity</h2>
<p>Students will be given task cards to practice Pythagoerean theorem</p>
